/* TIPOGRAFIAS */
@font-face {
  font-family: "dinn";
  src: local('dinn'),
      url("/fonts/DINNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "dinn-bold";
  src: local('dinn-bold'),
      url("/fonts/DINNextLTProBold.otf") format("opentype");
}
@font-face {
  font-family: "ptmono";
  src: local('ptmono'),
      url("/fonts/ptmono.ttc") format('truetype');
}
@font-face {
  font-family: "Myriad";
  src: local('Myriad'),
      url("/fonts/MyriadPro-Regular.otf") format('opentype');
}
.nav-tabs .nav-item {
  background: red;
}
a, a:hover, a:visited, a:active, a:link {
  color: white;
}
h1,h2,h3,h4,h5,h6,input,button{
  font-family: "dinn-bold" !important;
}
.fn-dinn-bl{
  font-family: "dinn-bold" !important;
}
.fn-dinn{
  font-family: 'dinn' !important;
}
.txt-none{
  text-decoration: none;
}
.txt-none:hover{
  background-color: red;
}
.fn-ptmono{
  font-family: "ptmono" !important;
}
p{
  font-family: "dinn";
}
a{
  font-family: "ptmono";
}
h1{
  font-size: 5rem !important;
  line-height: 4rem !important;
}

h3{
  font-size: 2rem !important;
}
.fn-myriad{
  font-family: "Myriad" !important;
}
/* Fin Tipografias */

/* Estilos */
.header
{
	background: rgba(0, 0, 0, 0.5) ;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.bg_im{
  background-image: url('../images/bg_im-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.mt-200{
  margin-top: 250px;
}
.boton_flotante {
  width: 50px;
  height: auto;
  position: fixed;
  right: 0;
  z-index: 5;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.7);
}
/* ESTILOS BOTONES */
.btn-redes-01{
  top: 250px;
}
.carousel-item2{
  height: auto !important;
  min-height: 50px !important;
}
.btn-redes-02{
  top: 300px;
}
.btn-redes-03{
  top: 350px;
}
.btn-redes-04{
  top: 400px;
}
.btn-redes-05{
  top: 450px;
}
.btn-redes-06{
  top: 500px;
}
/* FIN ESTILOS BOTONES */
.boton_flotante:hover {
  background-color: red;
}
.mb-15{
  margin-bottom: 7%;
}
.mb-10{
  margin-bottom: 8%;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.display-4{
  line-height: 0.8;
}
.fz-10{
  font-size:12px;
  line-height: 13px;
}
.btn-red{
  background-color: red;
  padding: 10px;
  color: white;
  border: none;
  margin-top: 100px;
  transition-duration: 0.5s;
}
.btn-red:hover{
  transition-duration: 0.5s;
  border-radius: 25px;
  color: white;
}
.mt-100{
  margin-top: 100px;
  border:none;
}
.mt-110{
  margin-top: 110px;
  border:none;
}
.lh-15{
  line-height: 15px;
}
.line-h{
  line-height : 20px !important;
}
.main_nav ul > .active{
  background-color:red;
}
.main_nav ul > .active a{
  color: white !important;
  padding: 5px;
}
.main_nav ul li:hover{
  background-color:red;
}
.main_nav ul li a:hover{
  color: white !important;
  padding: 5px;
}
.my{
  text-transform: uppercase;
}
.booking_form_container{
  margin-top:0px;
}
.bg{
  background-image: url('../images/home_bg.jpg');
  background-color: red;
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.bg-gray{
  background-color: #414042;
}
.txt-white{
  color: white;
}
.txt-red{
  color: red;
}
/* Estilos para movil */
@media (max-width: 600px) {
  .mt-200{
    margin-top: 100px;
  }
  .fz-10{
    text-align: justify !important;
  }
  .p-4{
    padding: 0px !important;
  }
  .fm{
    font-size: 2.5rem;
  }
  .fm-sm{
    font-size: 0.8rem !important;
  }
  .mb-15{
    margin-bottom: 35%;
  }
  .display-4{
    line-height: 1;
  }
  h1{
    font-size: 2rem !important;
    line-height: 1.5rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }

}
/* Fin estilos movil */
/* Desk */
@media (min-width:1900px){

  .header_content {
    width: 1366px;
    margin: auto;
  }
}

.img-slide{
  width: 250px !important;
}
/* Fin estilos Desk */
/* estilos carousel */
#myCarousel .nav a small {
  display:block;
}
#myCarousel .nav {
background:#eee;
}
#myCarousel .nav a {
  border-radius:0px;
}
/* LOGIN  */

.body-login{
  background-image: url('../images/home_01.jpg') !important;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-login{
  background-color: rgba(255, 255, 255,0.1) !important;
}
/* FIN LOGIN  */