/* TIPOGRAFIAS */
@font-face {
  font-family: "dinn-regular";
  src: local('dinn-regular'),
      url("/fonts/DINNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "dinn-bold";
  src: local('dinn-bold'),
      url("/fonts/DINNextLTProBold.otf") format("opentype");
}
a,h1,h2,h3,h4,h5,h6,p,input,button{
  font-family: "dinn-regular";
}
/* Fin Tipografias */

/* Estilos */
.line-h{
  line-height : 20px;
}
.main_nav ul > .active{
  background-color:red;
}
.main_nav ul > .active a{
  color: white !important;
  padding: 5px;
}
.main_nav ul li:hover{
  background-color:red;
}
.main_nav ul li a:hover{
  color: white !important;
  padding: 5px;
}

.booking_form_container{
  margin-top:0px;
}
.bg{
  background-image: url('../images/plano-01.png');
  background-color: red;
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.txt-white{
  color: white;
}
.txt-red{
  color: red;
}
/* Estilos para movil */
@media (max-width: 600px) {

}
/* Fin estilos movil */
/* Estilos portatil mini */
@media (min-width:1200px){
  
}
/*Estilos portatil*/
@media ( min-width: 1300px){
  
}
/* Desk */
@media (min-width:1900px){
  
}
/* Fin estilos Desk */